.App {
  text-align: center;
  background-color: whitesmoke;
}

.form_conatiner{
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgray;
  padding: 25px;
  margin: 10px;
}

.form_container__group{
  padding: 10px;
}


.btn_container{
  margin: auto;
}

.navbarStyle {
  padding: .5rem 1rem !important
}

